* {  
  box-sizing: border-box;
}

body, html {
  margin: 0;
  color: rgb(112, 112, 112);
  background: linear-gradient(120deg, rgb(22, 22, 22), rgb(0, 0, 0))
}

.color {
  color: rgba(8, 170, 35, 0.431)
}

.marginBorder {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin: 20px 0;
}
